#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
subnet {{ intsubnet }} netmask {{ intnetmask }} {
  range {{ intrange }};
  option routers {{ introuters }};
  option domain-name-servers {{ intdns }};
  default-lease-time {{ intdlt }};
  max-lease-time {{ intmlt }};
}
