#
# DHCP Server Configuration file.
#   see /usr/share/doc/dhcp-server/dhcpd.conf.example
#   see dhcpd.conf(5) man page
#
subnet {{ internal_subnet }} netmask {{ internal_netmask }} {
  range {{ internal_range }};
  option routers {{ internal_routers }};
  option domain-name-servers {{ internal_dns }};
  default-lease-time {{ internal_dlt }};
  max-lease-time {{ internal_mlt }};
}
